<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <p-splitter
        [panelSizes]="[25, 75]"
        [style]="{ height: '100vh', marginTop: '70px'}"
    >
        <ng-template pTemplate>
            <div class="col">
                <app-sidebar></app-sidebar>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col layout-main">
                <app-layout-main></app-layout-main>
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </p-splitter>
    <div class="layout-mask"></div>
</div>
