:host ::ng-deep .p-datatable > .p-datatable-wrapper {
    overflow: visible;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: sticky;
    top: 0px;
}

@media screen and (max-width: 64em) {
    :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
        top: 0px;
    }
}
