<div class="col flex" [class.borderTop]="data.borderTop">
    <label
        for="data.id"
        style="
            min-width: 100px;
            width: max-content;
            margin-bottom: unset !important;
        "
        class="mr-2 flex align-items-center"
        >{{ data.label }}</label
    >
    <input
        pInputText
        [(ngModel)]="data.value"
        [readOnly]="data.readonly"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        [disabled]="data.readonly"
    />
</div>
