<div class="wrapper">
    <div [ngSwitch]="currentScreen">
        <div *ngSwitchCase="'Class'">
            <app-classes></app-classes>
        </div>
        <div *ngSwitchCase="'Character Sets'">
            <app-character-sets></app-character-sets>
        </div>
        <div *ngSwitchCase="'Lists'">
            <app-lists></app-lists>
        </div>
        <div *ngSwitchCase="'Process Extensions'">
            <app-process-extensions></app-process-extensions>
        </div>
        <div *ngSwitchCase="'AutoNumbers'">
            <app-auto-numbers></app-auto-numbers>
        </div>
        <div *ngSwitchCase="'Criteria'">
            <app-criteria></app-criteria>
        </div>
        <div *ngSwitchDefault>No contents</div>
    </div>

    <router-outlet></router-outlet>
</div>
