<p>formlayout works!</p>
{{messageOO}}

<div class="grid">

<div class="col-12">
<div class="card">
    <button *ngIf="showButtonA" (click)="toggleButtons('A')">Edit</button>
<button *ngIf="showButtonB" (click)="toggleButtons('B')">Save</button>
<button *ngIf="showButtonC" (click)="toggleButtons('C')">Cancel</button>
<h5>{{message}}</h5>
<div *ngFor="let item of Mydata">
  <ng-container [ngSwitch]="item.type">

    <div class="p-fluid p-formgrid grid" *ngSwitchCase="'Text'">
        <div class="field col-12 md:col-6">
        <label>{{ item.name }}:</label>
        <input type="text" [(ngModel)]="item.value" disabled/>
      </div>
    </div>
    <div class="p-fluid p-formgrid grid" *ngSwitchCase="'inputbox'">
        <div class="field col-12 md:col-6">
        <label>{{ item.name }}:</label>
        <input type="text" [(ngModel)]="item.value" [disabled]="showButtonA" (ngModelChange)="trackChanges(item.id, $event)"/>
      </div>
    </div>
    <div class="p-fluid p-formgrid grid" *ngSwitchCase="'Date'" >
        <div class="field col-12 md:col-6">
        <label>{{ item.name }}:</label>
        <span *ngIf="showButtonA">{{ item.value | date:'yyyy/MM/dd' }}</span>
        <!-- {{ item.value | date:'yyyy/MM/dd'}} -->
        <input type="date"  [(ngModel)]="item.value"  *ngIf="!showButtonA" (ngModelChange)="trackChanges(item.id, $event)"/>
      </div>
    </div>
    <!-- Add more cases for other types if needed -->
    <div class="p-fluid p-formgrid grid" *ngSwitchDefault>
        <div class="field col-12 md:col-6">
        <label>{{ item.name }}</label>
        <input type="text" [(ngModel)]="item.value" />
      </div>
    </div>
  </ng-container>
</div>
</div>
</div>
<div class="container">
  <div class="column">
    <h2>Mydata 數據</h2>
    <pre>{{ Mydata | json }}</pre>
  </div>
  <div class="column">
    <h2>changes 數據</h2>
    <pre>{{ changes | json }}</pre>
  </div>
</div>

{{originalMydata|json}}
</div>
<!-- {{A|json}} -->

<head>
  <style>
.data-row {
  display: flex; /* 使用Flex布局 */
  align-items: center; /* 垂直居中 */
  margin-bottom: 10px; /* 可选，增加行与行之间的间距 */
}

.data-item {
  margin-right: 10px; /* 可选，增加数据项之间的间距 */
}

.container {
  display: flex;
}

.column {
  flex: 1;
  margin: 10px;
}
  </style>
</head>


