.component-wrapper {
    font-size: 14px;
    font-weight: 400;
    color: #0f1824;
    .component-header {
        height: 36px;
        background-color: #08f;
        border-radius: 6px 6px 0 0;
        align-items: center;
        display: flex;
        padding: 0 10px;
        color: #fff;
    }
    .component-body {
        .top-actions {
            height: 36px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            background-color: #f2f9ff;
            .icon-create {
                &:hover {
                    background-color: #08f;
                    color: #fff;
                    border-radius: 4px;
                }
            }
            .icon-delete {
                &:hover {
                    color: #ff4d4d;
                }
            }
            > div {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
        .component-filter {
            display: flex;
            padding: 4px 8px;
            height: 50px;
            margin-bottom: 8px;
            > div {
                margin-right: 16px;
                &:last-child {
                    margin-right: unset !important;
                }
                &:nth-child(3){
                    width: calc(100% - 200px * 2 - 100px);
                }
            }
            .filter-by,
            .match-if {
                width: 200px;
                ::ng-deep .col {
                    padding: unset !important;
                    label {
                        margin-right: 10px !important;
                        min-width: max-content !important;
                    }
                }
            }
            ::ng-deep .search-value {
                display: flex;
                align-items: center;
                ::ng-deep app-base-input-text {
                    width: 100% !important;
                    .col {
                        padding: unset !important;
                        label {
                            min-width: 40px !important;
                        }
                        input {
                            width: calc(100% - 50px) !important;
                            height: 42px !important;
                        }
                    }
                }
                
            }
            .apply-btn {
                ::ng-deep button {
                    background-color: #fff;
                    color: #0f1824;
                    &:hover {
                        background-color: #08f;
                        color: #fff;
                    }
                    > span {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
