<div
    class="component-wrapper"
>
    <div *ngIf="componentHeader?.length > 0" class="component-header">
        <div class="ml-2">{{ componentHeader }}</div>
    </div>
    <div class="component-body">
        <div *ngIf="topActions" class="top-actions">
            <ng-container *ngFor="let action of topActions">
                <div class="icon">
                    <i
                        [pTooltip]="action?.data?.text"
                        placeholder="Top"
                        tooltipPosition="top"
                        [class]="
                            action?.data?.icon === 'ADD'
                                ? 'pi pi-plus'
                                : action?.data?.icon === 'DELETE'
                                ? 'pi pi-times'
                                : ''
                        "
                    ></i>
                </div>
            </ng-container>
        </div>
        <div *ngIf="filterOptions?.length > 0" class="component-filter">
            <div *ngFor="let filterItem of filterOptions; let i = index" >

                <div *ngIf="filterItem?.options?.length > 0" [class.match-if]="filterItem.label === 'Match if'"
                    [class.filter-by]="filterItem.label === 'Filter by'">
                        <app-base-dropdown
                            [data]="filterItem"
                        ></app-base-dropdown>
                    
                </div>
                <div *ngIf="filterItem?.type === 'inputtext'" class="search-value">
                    <app-base-input-text
                        [data]="filterItem"
                    ></app-base-input-text>
                </div>
                <div *ngIf="filterItem?.type === 'BUTTON'">
                    <p-button [label]="filterItem.data.text" (click)="handleChangeFilter()"></p-button>
                </div>
            </div>
        </div>
        <div *ngIf="tableData?.headers" class="lists-table">
            <app-table
                [data]="tableData"
                [itemSelected]="itemSelected"
                (onSelectItem)="handleSelectItem($event)"
                (onOpenDialogDetail)="handleShowDialogDetail($event)"
            ></app-table>
        </div>
    </div>
    <div class="list-footer"></div>
    <!-- <app-dialog-create
        [options]="createOptions"
        [visible]="openDialog"
        header="Create List"
        (onClose)="handleHideDialog()"
        (onSave)="handleSaveItem($event)"
    ></app-dialog-create>
    <app-dialog-detail
        [visible]="openDialogDetail"
        (onClose)="handleHideDialogDetail()"
        header="Show Detail Item"
        [menuTabs]="menuTabs"
        [itemSelected]="itemSelected"
        [options]="editOptions"
    ></app-dialog-detail> -->
</div>
<p-dialog
  [visible]="loading$ | async"
  [showHeader]="false"
  [resizable]="false"
  [modal]="true"
  [focusOnShow]="false" >
  <p-progressSpinner></p-progressSpinner>
</p-dialog>
