<div class="dialog-create-wrapper">
    <p-dialog [header]="header" [visible]="visible" [style]="{ width: '30vw' }" (visibleChange)="handleClose()" modal="modal">
        <div class="dialog-body">
            <app-create-update-table [items]="options"></app-create-update-table>
        </div>
        <div class="bottom-action">
            <div class="cancel-btn" (click)="handleClose()">Cancel</div>
            <div class="confirm-btn" (click)="handleSave()">OK</div>
        </div>
    </p-dialog>
    <router-outlet></router-outlet>
</div>
